{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_subnavbar_receipts.html' %}

<section class="container">
    <div class="row">
        <div class="col-md-auto offset-md-1">
            <h5 class="text-center mb-3 mt-5">LISTA DE RECIBOS</h5>
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thead-default">
                    <tr class="text-secondary h-6">
                        <th>Cod Recibo</th>
                        <th>Cliente</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th colspan="2" class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipts_instance %}
                    <tr>
                        <td>{{ receipt.id }}</td>
                        <td>{{ receipt.client }}</td>
                        <td>{{ receipt.price }}</td>
                        <td>{{ receipt.date_register|date:'d/m/Y' }}</td>
                        <td><a href="{% url 'receipts_edit' receipt.id %}"><button type="submit" class="btn btn-primary">Editar</button></a></td>
                        <td><a href="{% url 'receipts_delete' receipt.id %}"><button type="submit" class="btn btn-danger">Excluir</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}
    
