{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
{% include 'partials/_subnavbar_receipts.html' %}

<section class="container">
    <form action="{% url 'receipts' %}" method="POST" class="position-absolute top-50 start-50 translate-middle mr-3">
        {% csrf_token %}
        <h5 class="text-center mb-3 mt-5">CADASTRAR RECIBO</h5>
        <div class="row">
            {% for field in form %}
            <div class="col-12 col-lg-12 mb-3">
                <label style="color:#a5a3a3;">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                <div class="alert alert-danger" style="margin-left: 10px;">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-success col-6 mt-3" type="submit">Salvar</button>
        </div>
    </form>
</section>

{% endblock %}