{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<section class="container">
    <form action="{% url 'cadastro_acesso' %}" method="POST" class="position-absolute top-50 start-50 translate-middle">
        {% csrf_token %}
        <h5 class="text-center mb-3">CADASTRO DE USUÁRIO</h5>
        <div class="row">
            {% for field in form %}
            <div class="col-12 col-lg-12 mb-3">
                <label style="color:#a5a3a3;">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-success col-6 mt-3" type="submit">Cadastrar</button>
        </div>
    </form>
</section>

{% endblock %}