{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_subnavbar_clients.html' %}

<section class="container d-flex justify-content-center align-items-center">
    <form action="{% url 'client_register' %}" method="POST" class="mr-3">
        {% csrf_token %}
        <h5 class="text-center mb-3 mt-5">CADASTRO DE CLIENTE</h5>
        <div class="row">
            {% for field in form %}
            <div class="col-12 col-lg-12 mb-3">
                <label style="color:#a5a3a3;">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <div class="alert alert-danger" style="margin-left: 10px;">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-success col-6 mt-3" type="submit">Cadastrar</button>
        </div>
    </form>
</section>

{% endblock %}
