{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

    <section class="container" style="margin-left: 5em">
        <form action="{% url 'client_register' %}" method="POST">
            {% csrf_token %}
            <div class="row position-absolute top-50 start-50 translate-middle">
                <h5 class="text-center mb-3">CADASTRO DE CLIENTE</h5>
                {% for field in form %}
                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                    <label style="color:#a5a3a3; margin-bottom: 5px;">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% for error in field.errors %}
                <div class="alert alert-danger col-12 col-lg-12" style="margin-bottom: 10px; margin-left: 10px;">
                    {{ error }}
                </div>
                {% endfor %}
                {% endfor %}
                <div>
                    <button class="btn btn-success col-2 mt-3" type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </section>

{% endblock %}